.dayCell {
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: #CBCBCB;
}

.colorLite {
    background-color: #63FFD3;
}

.colorMedium {
    background-color: #00C78F;
}

.colorDark {
    background-color: #007251;
}