@use 'styles/mixins' as *;

.repoInfoRoot {
    height: 100%;
    font-size: 14px;
    font-family: 'Roboto-Regular', sans-serif;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: rem(20);
}

.repoOwner {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 13px;
    margin-bottom: 8px;
}

.repoOwner div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.repoAvatar {
    max-width: 24px;
    border-radius: 100%;
}

.repoInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.repoCounters {
    width: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.repoCounter {
    display: flex;
    gap: 2px;
}

.repoCounter p {
    font-size: 20px;
    color: #7E7E7E;
}

.repoCounter img {
    height: 20px;
}

.repoInfoBlock {
    width: 357px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.line {
    height: 1px;
    background-color: #7E7E7E;
}

.repoContributions,
.repoContributors {
    width: 357px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.repoContributorsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.repoContributorsList img {
    height: 24px;
    border-radius: 100%;
}

.repoBranchesList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.repoBranchesList li {
    display: flex;
    align-items: center;
    gap: 2px;
}

.repoBranchesList p,
.repoBranchesList span {
    max-width: max-content;
}

.repoBranchesList span {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #7E7E7E;
}

.repoBranchesList img {
    height: 4px;
}





.commitCalendar {
    width: 357px;
    overflow-x: auto;
    display: flex;
    gap: 2px;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        height: 0;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.monthColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monthName {
    margin-bottom: 4px;
}

.daysGrid {
    display: grid;
    max-height: 80px;
    grid-template-rows: repeat(7, 8px);
    grid-auto-flow: column;
    grid-auto-columns: 8px;
    gap: 2px;
}

.dayCell {
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: #CBCBCB;
}

.colorLite {
    background-color: #63FFD3;
}

.colorMedium {
    background-color: #00C78F;
}

.colorDark {
    background-color: #007251;
}